<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/views/home.css">
  </head>
  <body>
  <button id="button-get-card">GET CARDS</button>
  <button id="button-next-card">NEXT</button>
  <button id="button-reset">RESET</button>
    <div id="my-cards"></div>
    <div id="common-cards"></div>
    <div id="other-cards"></div>
    <script src="/views/home.js"></script>
  </body>
</html>